################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.DS_Store
.metadata
.settings
.vs
.vscode
_ReSharper*
bin
!/src/Ruby/*/bin
Bin
!/src/Ruby/*/Bin
build
BuildOutput
Gemfile.lock
NuGet.exe.old
obj
packages
QASData
StyleCop.Cache
TestResults
*~
*.DotSettings
*.gem
*.GhostDoc.xml
*.sln.cache
*.sln.ide
*.suo
*.user
*.userprefs
