################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.metadata
.settings
.vs
_ReSharper*
bin
Bin
build
BuildOutput
NuGet.exe.old
obj
packages
QASData
StyleCop.Cache
TestResults
*~
*.DotSettings
*.GhostDoc.xml
*.sln.cache
*.sln.ide
*.suo
*.user
*.userprefs
